body {
  font-family: "Orbitron", sans-serif;
}

.calcForm {
  text-align: left;
  font-weight: bold;
}

.all {
  background: linear-gradient(lightblue, green);
  height: 100vh;
}

p {
  color: white;
  font-weight: bold;
}

span {
  font-weight: bold;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}

.newSolutionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newSolutionContainerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newSolutionItemForm {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.title {
  font-size: 7.5rem;
  display: block;
  text-align: center;
}

.merchan {
  margin-top: 10%;
  text-align: left;
  font-size: 120%;
}

.flaskLogo {
  align-items: center;
  float: left;
  height: auto;
  width: 10%;
  display: block;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainItem {
  align-items: center;
  align-content: center;
}
