.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calcForm {
  text-align: left;
  font-weight: bold;
}

.all {
  background: linear-gradient(lightblue, green);
  height: 100vh;
}

p {
  color: white;
  font-weight: bold;
}

span {
  font-weight: bold;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}
