.App {
  text-align: center;
  
}
/* .Hero-img{
  height: 95vh;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("./images/stock-photo--d-illustration-of-molecule-model-science-background-with-molecules-chemical-formulas-626488493.jpg");
} */

.Navbar {
  position: fixed;
  background-color: blue;
  width: 100vw;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.Login {
  margin: 3px;
   
}
.Login span{
  margin-right: 20px;
  color: black;
}
.icon{
  margin-left: 10px;
  color:black;
}
